@use "@styles/styles" as *;

.input {
  &-search {
    @include cell;
    @include font-main-black;
    border-radius: 4px;
    border: 2px solid $search-input-border-color;
    font-size: 25px;
    padding: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    @include respond(mobile) {
      font-size: 16px !important;
    }
  }

  &-registration-form {
    border: 2px solid $registration-form-border-color;
    box-shadow: none;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25 !important;
    outline: none;
    transition: border-color .3s ease 0ms, outline .3s ease 0ms, color .3s ease 0ms;

    &:focus {
      outline: $registration-form-border-color-focus solid 1px;
    }
  }
}