@use "@styles/styles" as *;

.form-container {
  margin-bottom: 16px;
}

.search-form {
  @include grid;
  gap: 10px;
}

.genres-container {
  @include grid;
  margin-top: 16px;
  justify-content: space-between;
  gap: 10px;
}

.error {
  @include align-middle;
  background-color: $search-error-block-background;
  margin-top: 16px;
  border-radius: 10px;
  padding: 24px 0;


  &-text {
    @include font-main;
    padding-left: 16px;
    font-size: 20px;
  }
}