@use "@styles/styles" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 8px;

  &-cell-full {
    grid-column: 1 / -1;
  }

  &-cell-half {
    grid-column: span 1;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

  }
}

.text {
  color: $login-page-small-text-color;
  line-height: 1.5 !important;
  font-size: 16px;

  &-link {
    text-decoration: none;
    color: $primary-link-color;
  }
}

