// Background-colors
$primary-header-bg-color: #083041;
$secondary-bg-color: #2A2A2A;
$tertiary-bg-color: #12A4E2;
$main-section-bg-color: #F8F9FA;
$articles-list-bg-color: #FFF;
$single-article-title-bg-color: #124861;
$white-bg-color: #FFFFFF;
$grey-bg-color: #EFF2F3;


// Text colors
$primary-text-color: #FFF;
$secondary-text-color: #2A2A2A;
$tertiary-text-color: #12A4E2;
$genres-text-color: #F4CC64;
$login-page-small-text-color: #787F82;


// Lines
$darker-line-color: #2A2A2A;
$aside-hr-color: #DCE2E4;
$profile-tabs-line-color: #E0E5E7;
$single-article-line-color: #E0E5E7;
$author-bottom-line-color: #E0E5E7;
$author-bottom-line-hover-color: #12A4E2;


// Inputs
$input-border-color: #124861;
$search-input-border-color: #124861;
$registration-form-border-color: #D0D3D3;
$registration-form-border-color-focus: #EDAC01;


// Links
$primary-link-color: #3788D8;


// Buttons color
$button-blue-color: #12A4E2;
$button-dark-blue-color: #3B5998;
$button-white-color: #FFF;
$button-red-color: #F08080;
$button-grey-color: #EFF2F3;


// Blocks
$date-block-bg-color: #D3D3D3;
$genres-block-border-color: #E0E5E7;
$article-link-block-color: #F5F5F5;
$search-error-block-background: #FF000080;


// Pagination
$pagination-cell-bg-color: #EFF2F3;
$pagination-cell-border-color: #EFF2F3;

// Borders
$article-list-border-color: #E0E5E7;


// Loader
$loader-background-color: #EFF2F3;
$loader-spinner-color: #12A4E2;


// Modals
$primary-modal-color: #EFF2F3;
$active-modal-background-color: rgba(0, 0, 0, 0.7);
;
$modal-shadow-color: rgba(0, 0, 0, 0.5);